@(message: String)

@import helper._
@import helper.twitterBootstrap._


@main("Play JsRoutes") {
    
    <section id="contents">
    <legend> Play Ajax Samples </legend>
      <fieldset>
      		<input type="text" id="username" name="username" placeholder="Enter your name">
      		<select name="method" id="selectMethod" class="selectpicker">
                        <option value="1">Js Routes</option>
                        <option value="2">Ajax GET</option>
                        <option value="3">Ajax POST</option>
                        <option value="4">Ajax JSON</option>
                        <option value="5">Plain Ajax</option>
           </select>	
            <div class="actions">
      		     <input type="button" class="btn" value="Say Hello!" onClick="selectHelloMethod()">
            </div>
      </fieldset>      
      
      <br/>
      <br/>
      <br/>
    
      <div class="lead" id="sayHello"></div>
      </section>
      <script src="@routes.Assets.at("javascripts/sayhello.js")" type="text/javascript"></script>
      
      	
}
