@(message: String)

@import helper._
@import helper.twitterBootstrap._


@main("Welcome to Play 2.1") {
    
    <legend> hello,world! </legend>
      <fieldset>
      		<input type="text" id="username" name="username" placeholder="Enter your name">		
            <div class="actions">
      		     <input type="button" class="btn" value="Say Hello!" onClick="sayHello()">
            </div>
      </fieldset>      
      
      <br/>
      <br/>
      <br/>
    
      <div id="sayHello"></div>
      <script src="@routes.Assets.at("javascripts/sayhello.js")" type="text/javascript"></script>	
      
}
